$black: #444444;
$grey: #898C90;
$light-grey: #F7F7F7;
$white: #FFFFFF;
@mixin font {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: $black;
}
body {
    margin: 0px;
    @include font;
    background-color: $light-grey;
}
a {
    color: #1D62F0;
}
input {
    @include font;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid lighten($black, 20%);
    margin-bottom: 10px;
    height: 30px;
    outline: none;
}
button {
    @include font;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    background-color: #4CD964;
    border: none;
    height: 30px;
    outline: none;
}
textarea {
    @include font;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    resize: none;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.grey {
    color: $grey;
}
.small {
    font-size: 14px;
}
.block {
    display: block;
}
.mt {
    margin-top: 20px;
}
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
div#header {
    padding-bottom: 20px;
}
div#wrap {
    max-width: 800px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}
#content {
    img {
        width: 100%;
        max-width: 600px !important;
    }
    table {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
    }
    .post-box {
        padding: 5px;
        background-color: $white;
        border: 1px solid #D7D7D7;
    }
    .post {
        margin-top: 10px;
        background-color: $white;
        border: 1px solid #D7D7D7;
        table {
            td {
                padding: 0px;
                vertical-align: top;
            }
            td.first {
                width: 100px;
            }
            img {
                height: 100px;
            }
        }
        p.author {
            font-weight: bold;
        }
    }
}
div#footer {
    padding-top: 10px;
    text-align: center;
    color: $grey;
    a {
        color: $grey;
    }
}
